.header {
  margin-bottom: 150px;
  position: relative;
  background: url('../img/1_bg.jpg') center / cover fixed;

  @include media-breakpoint-down(md) {
    .container-xl {
      max-width: 510px;
      padding: 0 33px;
    }
  }

  @include media-breakpoint-down(lg) {
    .container-xl {
      max-width: 690px;
    }

    .contact-info {
      display: none;
    }

    .carousel {
      display: none;
    }
  }

  .contact-info {
    position: relative;
    width: 100px;
    height: 100%;
    background-color: $bg_filter_75;

    p {
      width: 345px;
      position: absolute;
      left: 50%;
      bottom: 563px;
      transform: translateX(-50%) rotateZ(270deg);
      font-size: 1.28571rem;
      letter-spacing: $letter_space_0-1;
      color: $slider_btn;
    }

    &__socials {
      position: absolute;
      left: 50%;
      bottom: 86px;
      transform: translateX(-50%);

      &::before {
        content: '';
        position: absolute;
        top: -115px;
        width: 3px;
        height: 75px;
        background-color: $slider_btn;
      }

      a {
        &:not(:last-child) {
          margin-bottom: 30px;
        }

        svg {
          fill: $slider_btn;
          transition: fill 0.3s ease;
        }

        &:hover {
          svg {
            fill: $default_gold;
          }
        }
      }
    }
  }

  .navbar-nav,
  .phone-box {
    padding: 50px 0;
  }

  @include media-breakpoint-down(xxl) {
    .phone-box {
      padding: 0;
      text-align: center;
    }
  }

  @include media-breakpoint-down(lg) {
    & {
      padding-top: 50px;
    }
    .phone-box,
    .navbar-toggler-box {
      max-width: 50%;
    }

    .phone-box {
      text-align: end;
    }
    .navbar-toggler {
      text-align: start;
    }
  }

  .nav-link,
  .phone-number {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0;
      height: 2px;
      background-color: $default_gold;
      transition: all 0.3s ease;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .nav-link {
      &::after {
        display: none;
      }
    }

    .phone-number {
      &::after {
        width: 100%;
        bottom: -8px;
      }
    }
  }

  .nav-item {
    letter-spacing: $letter_space_0-1;
    margin-right: 30px;

    @include media-breakpoint-down(xxl) {
      &:nth-child(5) {
        margin-right: 0;
      }
    }
  }

  .nav-link {
    font-size: 1.28571rem;
  }

  .phone-number {
    font-size: 1.14285rem;
  }

  @include media-breakpoint-down(xl) {
    .nav-link {
      font-size: 1.11994rem;
    }
  }

  .banner {
    padding: 140px 0 208px 0;

    &__content {
      h1,
      p {
        margin-bottom: 50px;
      }

      @include media-breakpoint-down(sm) {
        .h1 {
          font-size: 3.25714rem;
        }
      }
    }

    .carousel {
      position: relative;
      max-width: 400px;

      .carousel-inner {
        width: 400px;
        height: 510px;
      }
    }

    &__slide {
      max-width: 400px;
      position: relative;
      z-index: 1;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 20px;
        left: 20px;
        width: 350px;
        height: 100%;
      }

      &::before {
        z-index: -1;
        background-color: $slider_img_filter;
      }

      &::after {
        z-index: -2;
        background: url('../img/1_poster.jpg') 0 0 / contain;
      }

      &-img {
        max-width: 350px;
        width: 100%;
      }
    }

    &__slider-btn-prev,
    &__slider-btn-next {
      position: absolute;
      bottom: -55px;
      background-color: initial;
      border: 0;
      gap: 25px;

      span:last-child {
        font-size: 1.28571rem;
        line-height: 25px;
        letter-spacing: $letter_space_0-1;
      }

      span {
        color: $slider_btn;
        transition: color 0.3s ease;

        svg {
          width: 40px;
          height: 25px;
          fill: $slider_btn;
          transition: fill 0.3s ease;
        }
      }
    }

    &__slider-btn-prev {
      left: 0;
    }

    &__slider-btn-next {
      right: 0;
    }

    &__slider-btn-prev:hover,
    &__slider-btn-next:hover {
      span {
        color: $white;
        svg {
          fill: $white;
        }
      }
    }
  }
}
