.our-productions {
  margin-bottom: 150px;

  .h2 {
    margin-bottom: 100px;
  }

  &__slider {
    margin-bottom: 150px;
  }

  &__slide {
    position: relative;
    max-width: 442px;
    width: 100%;
    max-height: 550px;
    height: 100%;
  }

  &__slide-img,
  &__slide-cover {
    position: absolute;
    width: 100%;
    height: 550px;
    top: 0;
    left: 0;
  }

  &__slide-img {
    z-index: 1;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      border-radius: 50%;
      transition: all 0.3s ease;
    }

    &::before {
      background-color: $default_gold;
    }

    &::after {
      background: url(../img/svg/loupe.svg) center no-repeat;
    }
  }

  &__slide-cover {
    z-index: 2;
    background-color: $bg_filter_65;
    opacity: 1;
    transition: opacity 0.3s ease;

    span {
      position: absolute;
    }

    span:first-child {
      top: 40px;
      left: 40px;
    }

    span:last-child {
      left: 40px;
      bottom: 40px;
      transform-origin: left top;
      transform: rotateZ(270deg);
    }
  }

  &__slide:hover {
    .our-productions__slide-img {
      &::before,
      &::after {
        width: 100px;
        height: 100px;
      }
    }

    .our-productions__slide-cover {
      opacity: 0;
      visibility: hidden;
    }
  }

  @include media-breakpoint-down(lg) {
    .container-xl {
      max-width: 100%;
    }
  }

  &__rating {
    position: relative;
    padding: 126px 0;
    background: url('../img/3_bg.png') center / cover;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-color: $bg_filter_9;
    }
  }

  &__row {
    position: relative;
    z-index: 2;
  }

  @include media-breakpoint-down(sm) {
    &__row {
      flex-direction: column;
    }

    .col-6,
    .col-2 {
      width: 100%;
    }

    span {
      display: block;
    }

    > ul {
      justify-content: center;
    }

    span,
    p {
      text-align: center;
    }
  }

  &__years {
    span {
      font-size: 3.71428rem;
      letter-spacing: $letter_space_0-1;
    }
  }

  &__stars-list {
    gap: 25px;
  }

  &__star {
    list-style: none;

    svg {
      fill: $default_gold;
    }
  }

  &__text {
    font-size: 2.57142rem;
  }
}
