@import './functions';

* {
  font-size: $font-size-base;
}

body {
  position: relative;
  background-color: $default_silver;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@include media-breakpoint-down(lg) {
  .container-xl {
    max-width: 690px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: $letter_space_0-1;
}

h2,
h2 span {
  font-size: rem(48px);
  line-height: rem(65px);
}

.f-open-sans {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.gold-btn,
.f-open-sans-contested {
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: normal;
}

.text-gold {
  color: $default_gold;
}

.gold-btn {
  padding: 18px 45px;
  font-size: 1.12571rem;
  line-height: rem(25px);
  letter-spacing: $letter_space_0-1;
  background-color: $default_gold;
  border: 0;
}

.custom-input {
  padding: 10px 15px;
  font-size: rem(12px);
  color: $input_color;
  background-color: $input_bg;
  border: 1px $input_border solid;
  border-radius: 0;
}

.custom-input:focus {
  background-color: $input_bg;
  outline: none;
}
