@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../fonts/open-sans/OpenSans-Regular.ttf") format("ttf");
  src: url("../fonts/open-sans/OpenSans-Regular.woff") format("woff");
  src: url("../fonts/open-sans/OpenSans-Regular.woff2") format("woff2");
  src: url("../fonts/open-sans/OpenSans-SemiBold.ttf") format("ttf");
  src: url("../fonts/open-sans/OpenSans-SemiBold.woff") format("woff");
  src: url("../fonts/open-sans/OpenSans-SemiBold.woff2") format("woff2");
  src: url("../fonts/open-sans/OpenSans-Bold.ttf") format("ttf");
  src: url("../fonts/open-sans/OpenSans-Bold.woff") format("woff");
  src: url("../fonts/open-sans/OpenSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans Condensed", sans-serif;
  src: url("../fonts/open-sans-condesed/OpenSansCondensed-light.ttf") format("ttf");
  src: url("../fonts/open-sans-condesed/OpenSansCondensed-light.woff") format("woff");
  src: url("../fonts/open-sans-condesed/OpenSansCondensed-light.woff2") format("woff2");
  src: url("../fonts/open-sans-condesed/OpenSansCondensed-Bold.ttf") format("ttf");
  src: url("../fonts/open-sans-condesed/OpenSansCondensed-Bold.woff") format("woff");
  src: url("../fonts/open-sans-condesed/OpenSansCondensed-Bold.woff2") format("woff2");
}