$default_font_size: 14px;

// Colors
$default_white: #fff;
$default_input_text: #989898;
$default_silver: #333333;
$default_gold: #D1A954;
$input_bg: #444444;
$input_border: #616161;

// Image filters
$slider_img_filter: rgba(51, 51, 51, 0.65);
$bg_filter_85: rgba(51, 51, 51, 0.9);
$bg_filter_9: rgba(51, 51, 51, 0.9);